<!DOCTYPE html>
<html>
  <head>
    <title>Product Listing</title>
  </head>
  <body>
    <h1>Product Listing</h1>
    <ul>
      {{#each products}}
      <li>
        <strong>Title:</strong> {{title}}<br>
        <strong>Description:</strong> {{description}}<br>
        <strong>Code:</strong> {{code}}<br>
        <strong>Price:</strong> {{price}}<br>
        <strong>Status:</strong> {{status}}<br>
        <strong>Stock:</strong> {{stock}}<br>
        <strong>Category:</strong> {{category}}<br>
        <strong>Thumbnails:</strong> {{thumbnails}}<br>
        <strong>ID:</strong> {{id}}<br>
      </li>
      {{/each}}
    </ul>
  </body>
</html>