<div class="product-list">
  {{#each products}}
  <div class="product-card">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Categoría: {{category}}</p>
    <button class="add-to-cart-button" data-product-id="{{_id}}">Agregar al carrito</button>
  </div>
  {{/each}}
</div>

<!-- Paginación -->
<div class="pagination">
  {{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}">Anterior</a>
  {{/if}}
  {{#if hasNextPage}}
  <a href="/products?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>

<!-- Filtros -->
<form action="/products" method="GET" class="filter-form">
  <label for="category">Categoría:</label>
  <select name="category" id="category">
    <option value="Juegos de mesa">Juegos de mesa</option>
    <option value="Peluches">Peluches</option>
  </select>

  <label for="availability">Disponibilidad:</label>
  <select name="availability" id="availability">
    <option value="true">Disponible</option>
    <option value="false">No disponible</option>
  </select>

  <label for="minPrice">Precio mínimo:</label>
  <input type="number" name="minPrice" id="minPrice">

  <label for="maxPrice">Precio máximo:</label>
  <input type="number" name="maxPrice" id="maxPrice">

  <button type="submit">Filtrar</button>
</form>

<!-- Ordenamiento -->
<form action="/products" method="GET" class="sort-form">
  <label for="sort">Ordenar por precio:</label>
  <select name="sort" id="sort">
    <option value="asc">Precio ascendente</option>
    <option value="desc">Precio descendente</option>
  </select>

  <button type="submit">Ordenar</button>
</form>

<script>
  const addToCartButtons = document.querySelectorAll('.add-to-cart-button');

  addToCartButtons.forEach(button => {
    button.addEventListener('click', (event) => {
      const productId = event.currentTarget.getAttribute('data-product-id');
      console.log('Product ID:', productId);
    });
  });
</script>


</body>
</html>